<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Task:0</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<h1>Datos:</h1>

		<h2>Nombre:</h2>
		<p>Yaneth Betzabeth Doria Arambo</p>

		<h2>Cédula:</h2>
		<p>C.I: 30.039.933</p>

		<h2>Sección:</h2>
		<p>Número: 3</p>

</body>
</html>